@import "../styles/colors.module.scss";

.containerWrapper{
    padding: 4rem;
    background-color: $PINK-BG;
    color: $BLACK;

    @media only screen and (max-width: 576px) { 
        padding: 2rem 1rem;   
    }

    .imageWrapper{
        text-align: center;
        .aboutImage{
            max-width: 350px;
            width: 100%;
            min-height: 300px;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
            margin-bottom: 1.5rem;

            @media only screen and (min-width: 2501px) { 
                max-width: 800px;
                width: 100%;
                min-height: 500px;
            }

            @media only screen and (min-width: 2301px) and (max-width: 2500px) { 
                max-width: 700px;
                width: 100%;
                min-height: 480px;
            }
                
            @media only screen and (min-width: 2001px) and (max-width: 2300px) { 
                max-width: 600px;
                width: 100%;
                min-height: 360px;
            }

            @media only screen and (min-width: 1601px) and (max-width: 2000px) { 
                max-width: 500px;
                width: 100%;
                min-height: 350px;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1600px) { 
                max-width: 400px;
                width: 100%;
                min-height: 300px;
            }

            @media only screen and (min-width: 1024px) and (max-width: 1200px) { 
                max-width: 300px;
                width: 100%;
            min-height: 250px;

            }

            @media only screen and (min-width: 992px) and (max-width: 1023px) { 
                max-width: 250px;
                width: 100%;
                min-height: 250px;

            }

            
            @media only screen and (min-width: 871px) and (max-width: 991px) { 
                max-width: 230px;
                width: 100%;
                min-height: 220px;
            }

            @media only screen and (min-width: 768px) and (max-width: 870px) { 
                max-width: 200px;
                width: 100%;
                min-height: 240px;
            }

            @media only screen and (max-width: 400px) { 
                max-width: 200px;
                width: 100%;
                min-height: 200px;
            }

        }
    }

   

    .contactWrapper{
        margin-bottom: 3rem;   
    h2{
        // About Us Heading
        margin-bottom: 1rem;
        overflow: hidden;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: bold;

        @media only screen and (min-width: 2501px) {
            font-size: 5.5rem;
       }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 5rem;
       }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 4.5rem;
       }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 3rem;  
        }
    }

        input, textarea{
            all: unset;
            border: 2px solid $PURPLE;
            display: block;
            max-width: 300px;
            width: 100%;
            margin-bottom: 1rem;
            padding: 0.6rem;
            border-radius: 8px;
            font-size: 1rem;

            @media only screen and (min-width: 2501px) { 
                max-width: 380px;
                width: 100%;
            font-size: 2.441rem;
            }

            @media only screen and (min-width: 2301px) and (max-width: 2500px) { 
                max-width: 380px;
                width: 100%;
            font-size: 2rem;
            }

            @media only screen and (min-width: 2001px) and (max-width: 2300px) { 
                max-width: 370px;
                width: 100%;
            font-size: 1.563rem;
            }

            @media only screen and (min-width: 1601px) and (max-width: 2000px) { 
                max-width: 350px;
                width: 100%;
            font-size: 1.563rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1600px) { 
                max-width: 350px;
                width: 100%;
            font-size: 1.25rem;

            }

            @media only screen and (min-width: 1000px) and (max-width: 1200px) { 
                max-width: 250px;
                width: 100%;
            }

               
            @media only screen and (min-width: 992px) and (max-width: 1023px) { 
                max-width: 230px;
                width: 100%;
            }


            @media only screen and (min-width: 800px) and (max-width: 991px) { 
                max-width: 200px;
                width: 100%;
            }

            @media only screen and (min-width: 768px) and (max-width: 870px) { 
                max-width: 165px;
                width: 100%;
            }

            @media only screen and (min-width: 500px) and (max-width: 767px) { 
                max-width: 400px;
                width: 100%;
            }

            
            @media only screen and (max-width: 499px) { 
                max-width: 300px;
                width: 100%;
            }

            @media only screen and (max-width: 385px) { 
                max-width: 220px;
                width: 100%;
            }

        }
        button{
            all: unset;
            cursor: pointer;
            display: block;
            margin-right: 2rem;
            background: $PURPLE;
            padding: 0.6rem 1rem;
            border-radius: 8px;
            transition: all 0.2s ease-in;
            text-transform: capitalize;
            color: $PINK-BG;

            &:hover{
                transition: all 0.2s ease-out;
                background: $BLACK;
            }

            @media only screen and (min-width: 2501px) { 
            font-size: 2.3rem;
            }

            @media only screen and (min-width: 2301px) and (max-width: 2500px) { 
            font-size: 2rem;
            }

            
            @media only screen and (min-width: 2001px) and (max-width: 2300px) { 
            font-size: 1.563rem;
            }

            @media only screen and (min-width: 1601px) and (max-width: 2000px) { 
                font-size: 1.3rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1600px) { 
                font-size: 1.25rem;
            }

        }
    }
}